.reveal h2 {
/*	padding-bottom: 35px;*/
}

.logo {
	position: absolute;
	top: 120px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.red {
	color: #B82500; /* blood red */
}

.reveal section img { 
	background: none; 
	border:none; 
	box-shadow:none; 
}


.reveal section span {
	font-weight: bold;
}

.reveal section blockquote {
	top: 10px;
}


.jboss_logo {
	position: absolute;
	top: 200px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.redhat_logo {
	position: absolute;
	top: 50px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.exadel_logo {
	position: absolute;
	top: 50px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.reveal table {
  border: 1px solid black;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  border: 1px solid black;
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: 1px solid black;
}

