.logo {
	position: absolute;
	top: 120px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.red {
	color: #B82500; /* blood red */
}

.reveal section img { 
	background: none; 
	border:none; 
	box-shadow:none; 
}


.reveal section span {
	font-weight: bold;
}

.reveal section blockquote {
	top: 10px;
}


.jboss_logo {
	position: absolute;
	top: 200px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.redhat_logo {
	position: absolute;
	top: 50px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

.exadel_logo {
	position: absolute;
	top: 50px; 
	right: 100px; 
	z-index:500; 
	background-color: white;
}

