 .reveal section img  {
  background: none; 
  border: none; 
  box-shadow: none;
}

.reveal p  {
  font-size: 0.8em;
}

.arrow-down {
    width: 160px;
    height: 160px;
}

.logos {
	width: 500px;
	height: 200px;
}

.json-logo {
	width: 200px;
	height: 200px;
}

.debugger-logo {
	width: 300px;
	height: 300px;
}

h1 {
	text-transform: none;
}

.red {
	color: #CB171D;
}

.no-text-transform {
	text-transform: none;
}
